<div class="px-5 mb-4 bg-body-tertiary rounded-3 container-fluid py-3">
<h1>Editing Friend</h1>
<br/>
<%= render "form", mate: @mate %>

<br>

<div>
  <%= link_to "Show this Friend", @mate, class: "btn btn-outline-primary" %>
  <%= link_to "Back to Friends", mates_path, class: "btn btn-outline-primary mx-2" %>
</div>
</div>